[user]
        name = EkeMinusYou
        email = euonymuslke@gmail.com

[ghq]
        root = ~/src
        user = EkeMinusYou

[includeIf "gitdir:~/src/github.com/global-mobility-service/"]
        path = ~/.gitconfig-gms

[core]
        editor = nvim
[alias]
        pl = pull
        st = stash -u
        sta = stash apply
        co = checkout
        ps = push
        psf = push --force-with-lease
        rbi = rebase -i HEAD~10
        lgo = log --oneline
[init]
        defaultBranch = main
[pull]
        rebase = false
[credential]
        helper = osxkeychain
[push]
        default = current
[rebase]
        autosquash = true

[pager]
        diff = delta
        log = delta
        reflog = delta
        show = delta

[delta]
        plus-style = "syntax #012800"
        minus-style = "syntax #340001"
        side-by-side = true
        navigate = true

[interactive]
        diffFilter = delta --color-only