[user]
        name = EkeMinusYou
        email = euonymuslke@gmail.com

[ghq]
        root = ~/src
	user = EkeMinusYou

[includeIf "gitdir:~/src/github.com/global-mobility-service/"]
        path = ~/.gitconfig-gms

[core]
        editor = code --wait
[alias]
        pl = pull
        st = stash -u
        sta = stash apply
        co = checkout
        ps = push
        psf = push --force-with-lease
        rbi = rebase -i HEAD~10
        lgo = log --oneline
[init]
        defaultBranch = main
[pull]
        rebase = false
[credential]
	helper = store
[push]
	default = current
[rebase]
	autosquash = true
