[user]
        name = EkeMinusYou
        email = euonymuslke@gmail.com
[ghq]
        root = ~/src
        user = EkeMinusYou

[include]
        path = ~/.gitconfig-os
[includeIf "gitdir:~/src/github.com/global-mobility-service/"]
        path = ~/.gitconfig-gms

[core]
        editor = nvim
[alias]
        pl = pull
        st = stash -u
        sta = stash apply
        co = checkout
        ps = push
        psf = push --force-with-lease
        lgo = log --oneline
[init]
        defaultBranch = main
[pull]
        rebase = false
[push]
        default = current
[rebase]
        autosquash = true

[pager]
        diff = delta
        log = delta
        reflog = delta
        show = delta

[delta]
        plus-style = "syntax #012800"
        minus-style = "syntax #340001"
        side-by-side = true
        navigate = true

[interactive]
        diffFilter = delta --color-only

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
