shell = "zsh"

[plugins]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins.fast-syntax-highlighting]
github = 'zdharma-continuum/fast-syntax-highlighting'
apply = ["defer"]

[plugins.zsh-completions]
github = 'zsh-users/zsh-completions'

[plugins.zsh-autocomplete]
github = 'marlonrichert/zsh-autocomplete'

[plugins.jq-zsh-plugin]
github = "reegnz/jq-zsh-plugin"
apply = ["defer"]

[plugins.ni]
github = "azu/ni.zsh"
apply = ["defer"]

# [plugins.zeno]
# github = "yuki-yano/zeno.zsh"
# hooks.post = """
# zsh-defer bindkey '^i' zeno-completion
# zsh-defer bindkey '^x '  zeno-insert-space
# zsh-defer bindkey '^x^m' accept-line
# """
# apply = ["defer"]

[plugins.docker-compose-completion]
remote = "https://raw.githubusercontent.com/docker/compose/1.29.2/contrib/completion/zsh/_docker-compose"
apply = ["fpath"]
