add_newline = false
command_timeout = 5

[directory]
style = 'bold yellow'
read_only = " "
truncate_to_repo = false

[directory.substitutions]
'~/src/github.com' = '/s'
'~worktrees/github.com' = '/w'

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[✗](bold red)"

[hostname]
ssh_only = false
detect_env_vars = ['WSL_DISTRO_NAME', 'WSL_INTEROP']
format = '[$hostname]($style) '

[docker_context]
format = '[$symbol$context]($style) '

[golang]
format ='[$symbol($version )]($style)'
symbol = ' '

[aws]
disabled = true

[gcloud]
format = '[$symbol$project]($style) '
symbol = '󱇶 '

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style) '

[git_status]
disabled = true

[kubernetes]
format = '[$symbol$context]($style) '
symbol = '⎈ '
disabled = false
[[kubernetes.contexts]]
context_pattern = 'gke_(?P<var_env>.+)_asia-northeast.+'
context_alias =  '$var_env'
[[kubernetes.contexts]]
context_pattern = 'cls-(?P<var_env>.+)-context-default'
context_alias =  '$var_env'

[terraform]
format = '[$symbol$version]($style) '
symbol = ' '

[battery]
disabled = true
